/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    
    body{
        background: black;
    }


    /* H1 */
    h1{
        color: silver;
        text-align: center;
          font-family: "Danfo", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "ELSH" 0;
    }

    /* Form */
    .Logbox{
        display: flex;
        justify-content: center;
    }

    form{
        display: flex;
        background-color: #C0C0C0;
        flex-direction: column;
        border: 1px solid black;
        border-radius: 3%;
        padding: 20px;
        text-align: center;
        font-size: 1em;
        filter: drop-shadow(-10px 10px 20px black);

        
        font-family: "Playwrite GB S", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
    }

    form input{
        padding-left: 20px;
        
    }

    form button{
        color: red;
        position: relative;
        top: 10px;
        width: 50%;
        height: 40px;
        border-radius: 5%;
        font-size: 4vw;
        font-weight: 600;
        /* left: 25%; */
    }

    #MR, #RM{
        color: red;
        text-align: center;
    }

    /* Dashboard */
        /* View Log */
        .ViewLog{
            position: relative;
            bottom: 0px;
            padding-left: 20vw;
            filter: drop-shadow(-10px 10px 20px black);
            padding-bottom: 100px;
        }

        .viewBox h3{
            position: relative;
            bottom: 10px;
            text-align: center;
            font-size: 3.2vw;

            font-family: "Playwrite GB S", cursive;
            font-optical-sizing: auto;
            font-weight: 500;
            font-style: normal;
        }

        .viewBox{
            background-color: #C0C0C0;
            border: 2px solid black;
            width: 20vw;
            height: 20vw;
            position: absolute;
            /* left: 15%; */
            border-radius: 10%;
            top: 5px;
        }

        .fa-folder-open{
            position: absolute;
            top: 25px;
            padding-left: 5vw;
            /* left: 15px; */
            font-size: 10vw;
        }

   


      
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    body{
        background-color: burlywood;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    body{
        display: none;
        }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    body{
        display: none;
        }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    body{
    display: none;
    }
}