/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    
    body{
        background: black;
    }


    /* H1 */
    h1{
        color: silver;
        text-align: center;
        position: relative;


    }

    

    /* Form */

    .form-secOne{
        display: flex;
        justify-content: center;
        height: auto;
        width: 100%;
    }

    #formLog{
        background-color: #c0c0c03b;
        border: 1px solid white;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        border-radius: 2%;

    }

    #formLog label{
        color: white;
    }

    #formLog input{
        text-align: center;
    }

    #btn{
        background-color: #c0c0c03b;
        color: white;
        width: 50%;
        height: 40px;
        border: 1px solid white;
        border-radius: 5%;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 5vw;
    }

    input, select{
        background-color: #c0c0c0;
        color: blue;
        text-align: center;
        width: 70%;
        position: relative;
        margin: -10px;
        margin-top: 1px;
    }



 .form-sec{
    display: flex;
    justify-content: center;
    position: relative;
    top: 0vw;
    display: none;
 }

    /* form{
        text-align: right;
         background-color: #C0C0C0;
         border-radius: 5%;
         padding: 16px;
         height: 15em;
    } */


     /* View Log */
        .ViewLog{
            /* position: relative;
            bottom: 20px;
            padding-left: 20vw;
            filter: drop-shadow(-10px 10px 20px black);
            padding-bottom: 100px; */
            display: flex;
            justify-content: center;
        }
        
        .viewBox{
            position: relative;
            background-color: #c0c0c03b;
            top: 10px;
            height: 25vw;
            width: 25vw;
            border: 0.1em solid #eee;
            border-radius: 10%;
            text-align: center;
        }

        .viewBox p{
            color: white;
            position: relative;
            bottom: 10px;
        }

        #folder-open{
            position: absolute;
            top: 30px;
            border-radius: 10%;
            /* left: 15px; */
            font-size: 12vw;
            color: #02934d;
        }

        #aLink{
            display: flex;
            justify-content: center;
        }





        /* Dashboard */

        .Dashboard{
            display: flex;
            justify-content: center;
            padding: 30px;
            position: relative;
            top: 80vw;
            padding-bottom: 300px;
            background-color: rgba(0, 0, 139, 0.153);
        }

        h2{
            color: white;
            position: absolute;
            top: -20px;
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }

        .Resources{
            display: flex;
            flex-wrap: wrap;
            justify-content:space-evenly;
            text-align: center;
            /* background-color: #C0C0C0; */
            width: 100%;
            height: 50vw;
            border-radius: 1%;
            
        }

/*    
        .Resources p{
            color: black;
            padding: 5px;
            font-size: 5vw;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        } */



        .fa-circle-exclamation{
            position: absolute;
            right: 0;
            margin-right: 10px;
            color: rgb(210, 210, 45);
        }
        .StartMyCar{
            position: relative;
            background-color: #c0c0c03b;
            top: 10px;
            height: 25vw;
            width: 25vw;
            border: 1px solid #eee;
            border-radius: 10%;
            color: white;
            background-color: black;
        }
        .fa-car-building{
            color: yellow;
            font-size: 10vw;
            position: relative;
            bottom: 2.5vw;
        }

        .CarCareKiosk{
            position: relative;
            background-color: #c0c0c03b;
            top: 10px;
            height: 25vw;
            width: 25vw;
            border: 1px solid #eee;
            border-radius: 10%;
            color: white;
            background-color: black;
        }
        .fa-photo-film{
            color: yellow;
            font-size: 10vw;
            position: relative;
            bottom: 2.5vw;
        }
     
        #examList, #examList2{
            background-color: darkred;
            position: absolute;
            width: 100px;
            height: auto;
            top: 20px;
            right: -10px;
            border-radius: 5%;
            text-align: left;
            padding-left: 20px;
            z-index: 4;
            border: 1px solid white;
            display: none;
        }

        #examList #examList2, li{
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            color: white;
            filter: drop-shadow(1px -1px 1px black);
            list-style: none;
            font-weight: 500;
            padding: 6px;
        }




      
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    body{
        background-color: burlywood;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    body{
        display: none;
        }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    body{
        display: none;
        }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    body{
    display: none;
    }
}