/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    
    body{
        background: black;
    }


    /* H1 */
    h1{
        color: silver;
        text-align: center;
        position: relative;
        top: -20vw;


    }

    /* Form */

 .form-sec{
    display: flex;
    justify-content: center;
    position: relative;
    top: -10vw;
 }

    form{

        background-color: #C0C0C0;
        width: 70vw;
        padding: 20px;
        border-radius: 5%;
    }

    form label{
        color: black;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 4vw;
        padding: 10px;

    }

    form input , select{
        width: 30vw;
        height: 5vw;
        filter: drop-shadow(5px 2px 3px blue);
        text-align: center;
        
    }

    form button{
        color: red;
        position: relative;
        top: 10px;
        margin-left: 60px;
        width: 50%;
        height: 40px;
        border-radius: 5%;
        font-size: 4vw;
        font-weight: 600;
        /* left: 25%; */
    }

    #MR, #RM{
        color: red;
        text-align: center;
    }

    /* Dashboard */
        /* View Log */
        .ViewLog{
            position: relative;
            bottom: 20px;
            padding-left: 20vw;
            filter: drop-shadow(-10px 10px 20px black);
            padding-bottom: 100px;
        }

        .viewBox h3{
            position: relative;
            bottom: 10px;
            text-align: center;
            font-size: 4vw;
            
        }

        .viewBox{
            background-color: #C0C0C0;
            border: 2px solid black;
            width: 20vw;
            height: 20vw;
            position: absolute;
            /* left: 15%; */
            border-radius: 10%;
            top: 5px;
        }

        .fa-folder-open{
            position: absolute;
            top: 25px;
            padding-left: 5vw;
            /* left: 15px; */
            font-size: 10vw;
        }

        /* Dashboard */

        .Dashboard{
            background-color: #C0C0C0;
            border: 20px solid black;
            display: flex;
            justify-content: center;
            padding: 30px;
        }
        .Resources{
            display: flex;
            flex-wrap: wrap;
            text-align: center;
        }

   
        .Resources p{
            color: red;
            padding: 5px;
            font-size: 5vw;
        }

        .Resources .ic{
            font-size: 8vw;
        }




      
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    body{
        background-color: burlywood;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    body{
        display: none;
        }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    body{
        display: none;
        }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    body{
    display: none;
    }
}